<h1 class="text-center mt-3">CADASTRO</h1>
<div class="text-center">
  <%= link_to "VOLTAR", forms_path, class: "btn btn-ghost" %>
</div>
<div class="card mt-3 p-5">
  <h3 class="text-center m-3"><%= @form.name %></h3>
  <label><strong>Endereço:</strong></label>
  <p class="card-body"><%= @form.prefecture %></p>
  <p class="card-body"><%= @form.address %></p>
  <div class="d-flex justify-content-between">
    <p class="card-body"><strong>Email: </strong><%= @form.email %></p>
    <p class="card-body"><strong>Telefone: </strong><%= @form.phone %></p>
  </div>
  <div class="d-flex justify-content-between">
    <p class="card-body"><strong>Nihongo: </strong><%= @form.nihongo %></p>
    <p class="card-body"><strong>Preferência de Turno: </strong><%= @form.turn %></p>
  </div>
  <p class="card-body"><strong>Habilitação: </strong><%= @form.driver ? "Possui Carteira de Motorista" : "Não possui Carteira de Motorista" %></p>
  <label><strong>Outras habilitações:</strong></label>
  <p class="card-body"><%= @form.licences %></p>
  <div class="d-flex justify-content-between">
    <p class="card-body"><strong>Zairyu: </strong><%= @form.zairyu %></p>
    <p class="card-body"><strong>Validade: </strong><%= @form.zairyu_date %></p>
    <p class="card-body"><strong>My Number: </strong><%= @form.my_number %></p>
  </div>
  <label><strong>Experiência anterior:</strong></label>
  <p class="card-body"><%= @form.previous_job %></p>
  <label><strong>Que tipo de trabalho você procura?:</strong></label>
  <p class="card-body"><%= @form.job_kind %></p>
  <label><strong>Observações:</strong></label>
  <p class="card-body"><%= @form.observations %></p>
  <label><strong>Imagens:</strong></label>
  <div class="d-flex justify-content-between">
    <% @form.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>
